/* Theme colors and fonts */
body {
	color: black;
	background-color: white;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
h1, h2, h3 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	letter-spacing: 0px;
	transform: scale(1, 1.5);
	text-transform: Uppercase;
}
h1 {
	margin-top: 50px;
	margin-bottom: 50px;
}
::-webkit-scrollbar-thumb {
	background: white;
}
dl, ul, ol {
	list-style-type: square;
}
#timelines,
#rightpanel {
	color: black;
	background: white;
}
/* Hover-over links */
a:hover,
a:hover * {
	/* Override bbCode */
	color: #5ABFCF !important;
}
.error {
	color: red;
}
.new {
	color: red;
}
