body {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin-left: 0;
	margin-right: 0;

	/* URL status bar gets in the way otherwise */
	height: calc(100% - 25px);
	margin-bottom: 25px;
}
.welcome {
	margin-top: 100px;
	text-align: center;
	font-size: 200%;
	white-space: no-wrap;
}
@keyframes glitch-anim-2 {
	0% {
	clip: rect(70px, 450px, 76px, 0);
	}
	20% {
	clip: rect(29px, 450px, 16px, 0);
	}
	40% {
	clip: rect(76px, 450px, 3px, 0);
	}
	60% {
	clip: rect(42px, 450px, 78px, 0);
	}
	80% {
	clip: rect(15px, 450px, 13px, 0);
	}
	100% {
	clip: rect(53px, 450px, 5px, 0);
	}
}
.glitch {
	position: relative;
}
.glitch::before,
.glitch::after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	animation: glitch-anim-2 2s infinite linear alternate-reverse;
}
.glitch::before {
	color: white;
	/* variation */
	left: 2px;
	text-shadow: -2px 0 red;
  
	/* important: opaque background masks the original */
	clip: rect(44px, 450px, 56px, 0);
}
.glitch::after {
	color: white;
	/* variation */
	left: -2px;
	text-shadow: -2px 0 blue;
	clip: rect(44px, 450px, 56px, 0);
  
	/* important: opaque background masks the original */
}

.choicebox {
	display: inline;
	padding: 10px;
	margin: 10px;
	border-width: 1px;
	border-style: solid;
	text-align: center;
	transition: box-shadow 0.5s, color 1s;
}
.choicebox > * {
	margin: 10px;
	border-width: 1px;

}
.choicebox:hover {
	box-shadow: -5px 5px 10px;
}
#sakura {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -100;
}
#sakura video,
#sakura img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#sakura img {
	display: none;
}
@media (min-aspect-ratio: 16/9) {
	#sakura video {
		height: 300%;
		top: -100%;
	}
}

@media (max-aspect-ratio: 16/9) {
	#sakura video{
		width: 300%;
		left: -100%;
	}
}
@media (max-width: 767px) {
	#sakura img {
		display: initial;
	}
	#sakura video {
		display: none;
	}
}

a {
	outline: none;
	color: inherit;
}
input[type=submit] {
	padding-left: 5px;
	padding-right: 5px;
}
