body {
	position: fixed;
	top: 0;
	left: 0;
	 width: 100%;
	margin: 0;

	/* URL status bar gets in the way otherwise */
/*	height: calc(100% - 25px);
	margin-bottom: 25px;*/
	height: 100%;
}
#welcome,
.frontcenter {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
#welcome {
	font-size: 200%;
	white-space: nowrap;

	/* Focusing / unfocusing */
	transition: font-size 0.8s ease-in,
	transform 0.8s ease-in,
	top 0.8s ease-in,
	opacity 0.3s ease-in;
}
/*#timelines::before,
#reader::before {
	position: absolute;
	content: " ";
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}*/
.sidebar {
	position: absolute;
	margin: 20px;
	top: 0;
	left: 0;
	transition: top 1s linear;
	width: 100px;
	max-width: calc(20% - 20px);
	text-align: justify;
}
.sidebar #latency {
	width: 100%;
	text-wrap: break-word;
	text-align: justify;
}
.sidebar .collection {
	flex-direction: column;
	flex-wrap: no-wrap;
}

#timelines {
	text-align: center;
	padding: 20px;
	padding-bottom: 30px;
	transition: opacity 0.8s ease-in;
}
#timelines .collection {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 10px;
}
#timelines .collection > a {
	margin: 7px;
	padding-left: 5px;
	padding-right: 5px;
	transition: box-shadow 0.5s, color 1s;
	border-width: 1px;
	border-style: solid;
	cursor: pointer;
}
#timelines .collection > a:hover {
	box-shadow: -3px 3px 10px;
}
#timelinenav {
	position: relative;
}
.leftnav,
.rightnav {
	position: absolute;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.leftnav {
	left: 0;
}
.rightnav {
	right: 0;
}
#rightpanel,
#timelines {
	border-width: 1px;
	border-style: solid;
}
#rightpanel {
	position: absolute;
	top: 0;
	right: 0;
	margin: 20px;
	margin-left: 40px;
	padding: 20px;
	width: calc(80% - 102px);
	max-height: calc(100% - 80px);
	overflow-y: auto;
	transition: right 0.8s ease-in-out;
}
header > * {
	padding-right: 5px;
	display: inline-block;
}
#reader {
	width: 100%;
}
/* Timeline view */
#reader article {
	display: flex;
	flex-direction: row-reverse;
	margin-bottom: 5px;
	overflow-x: hidden;
	width: 100%;
	transition: width 0.8s ease-in-out,
	height 0.8s ease-in 0.8s,
	padding 0.2s ease-in 0.8s,
	margin 0.8s ease-in 0.8s;
}
#reader article time,
#reader article .num,
#reader article .content {
	white-space: nowrap;
}
#reader article time,
#reader article .num {
	margin-left: 5px;
	margin-right: 5px;
}
#reader article .content {
	border-right-width: 1px;
	border-right-style: solid;
	padding-right: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: justify;
	cursor: pointer;
	transition: height 0.8s ease-in-out;
}
#reader.expanded article {
/*	overflow: visible;*/
	height: initial;
}
#reader.expanded article .content {
	white-space: initial;
	text-align: justify;
	justify-align-last: right;
	cursor: default;
}
#title {
	display: inline-block;
}
@keyframes glitch-animation {
0% {
clip: rect(42px, 9999px, 44px, 0);
}
5% {
clip: rect(12px, 9999px, 59px, 0);
}
10% {
clip: rect(48px, 9999px, 29px, 0);
}
15% {
clip: rect(42px, 9999px, 73px, 0);
}
20% {
clip: rect(63px, 9999px, 27px, 0);
}
25% {
clip: rect(34px, 9999px, 55px, 0);
}
30% {
clip: rect(86px, 9999px, 73px, 0);
}
35% {
clip: rect(20px, 9999px, 20px, 0);
}
40% {
clip: rect(26px, 9999px, 60px, 0);
}
45% {
clip: rect(25px, 9999px, 66px, 0);
}
50% {
clip: rect(57px, 9999px, 98px, 0);
}
55% {
clip: rect(5px, 9999px, 46px, 0);
}
60% {
clip: rect(82px, 9999px, 31px, 0);
}
65% {
clip: rect(54px, 9999px, 27px, 0);
}
70% {
clip: rect(28px, 9999px, 99px, 0);
}
75% {
clip: rect(45px, 9999px, 69px, 0);
}
80% {
clip: rect(23px, 9999px, 30px, 0);
}
85% {
clip: rect(54px, 9999px, 84px, 0);
}
90% {
clip: rect(45px, 9999px, 47px, 0);
}
95% {
clip: rect(37px, 9999px, 20px, 0);
}
100% {
clip: rect(4px, 9999px, 91px, 0);
}
}
@keyframes glitch-animation-2 {
0% {
clip: rect(65px, 9999px, 100px, 0);
}
5% {
clip: rect(52px, 9999px, 74px, 0);
}
10% {
clip: rect(79px, 9999px, 85px, 0);
}
15% {
clip: rect(75px, 9999px, 5px, 0);
}
20% {
clip: rect(67px, 9999px, 61px, 0);
}
25% {
clip: rect(14px, 9999px, 79px, 0);
}
30% {
clip: rect(1px, 9999px, 66px, 0);
}
35% {
clip: rect(86px, 9999px, 30px, 0);
}
40% {
clip: rect(23px, 9999px, 98px, 0);
}
45% {
clip: rect(85px, 9999px, 72px, 0);
}
50% {
clip: rect(71px, 9999px, 75px, 0);
}
55% {
clip: rect(2px, 9999px, 48px, 0);
}
60% {
clip: rect(30px, 9999px, 16px, 0);
}
65% {
clip: rect(59px, 9999px, 50px, 0);
}
70% {
clip: rect(41px, 9999px, 62px, 0);
}
75% {
clip: rect(2px, 9999px, 82px, 0);
}
80% {
clip: rect(47px, 9999px, 73px, 0);
}
85% {
clip: rect(3px, 9999px, 27px, 0);
}
90% {
clip: rect(26px, 9999px, 55px, 0);
}
95% {
clip: rect(42px, 9999px, 97px, 0);
}
100% {
clip: rect(38px, 9999px, 49px, 0);
}
}
.glitch {
	position: relative;
}
.glitch::before,
.glitch::after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	clip: rect( 0, 900px, 0, 0 );
}
.glitch::before {
	animation: glitch-animation-2 0.9s infinite linear alternate-reverse;
	left: -2px;
}
.glitch::after {
	animation: glitch-animation 1.5s infinite linear alternate-reverse;
	left: 2px;
	text-shadow: -5px 0 black;
}
.choicebox {
	display: inline;
	border-width: 2px;
	border-style: solid;
	text-align: center;
	transition: box-shadow 0.5s, color 1s;
	cursor: pointer;
}
.choicebox a {
	margin: 10px;
	border-width: 1px;

}
.choicebox:hover {
	box-shadow: -5px 5px 10px;
}
#sakura {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -100;
	transition: filter 1s ease-in;
}
#sakura video,
#sakura img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#sakura img {
	display: none;
}
@media (min-aspect-ratio: 4/3) {
	#sakura video {
		height: 300%;
		top: -100%;
	}
}

@media (max-aspect-ratio: 4/3) {
	#sakura video{
		width: 300%;
		left: -100%;
	}
}
@media (max-width: 600px) {
	#sakura img {
		display: initial;
	}
	#sakura video {
		display: none;
	}
	#welcome {
		font-size: 125%;
	}
}
a {
	outline: none;
	color: inherit;
}
body.preload * {
	animation-duration: 0s !important;
	-webkit-animation-duration: 0s !important;
	transition: background-color 0s,
	opacity 0s,
	color 0s,
	width 0s,
	height 0s,
	padding 0s,
	margin 0s !important;
}
input[type=submit] {
	padding-left: 5px;
	padding-right: 5px;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}
a {
	cursor: pointer;
}
