body {
	position: fixed;
	top: 0;
	left: 0;
	 width: 100%;
	margin: 0;

	/* URL status bar gets in the way otherwise */
/*	height: calc(100% - 25px);
	margin-bottom: 25px;*/
	height: 100%;
}
#welcome,
.frontcenter {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
#welcome {
	font-size: 200%;
	white-space: nowrap;

	/* Focusing / unfocusing */
	transition: font-size 0.8s ease-in,
	transform 0.8s ease-in,
	top 0.8s ease-in,
	opacity 0.3s ease-in;
}
.sidebar {
	position: absolute;
	margin: 20px;
	top: 0;
	left: 0;
	transition: top 1s linear;
	width: 100px;
	max-width: calc(20% - 20px);
	text-align: justify;
}
.sidebar #latency {
	width: 100%;
	text-wrap: break-word;
	text-align: justify;
}
.sidebar .collection {
	flex-direction: column;
	flex-wrap: no-wrap;
}

#timelines {
	text-align: center;
	padding: 20px;
	padding-bottom: 30px;
	transition: opacity 0.8s ease-in;
}
#timelines .collection {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 10px;
}
#timelines .collection > a,
.minorbox {
	margin: 7px;
	padding-left: 5px;
	padding-right: 5px;
	transition: box-shadow 0.5s, color 1s;
	border-width: 1px;
	border-style: solid;
	cursor: pointer;
}
#timelines .collection > a:hover,
.minorbox:hover {
	box-shadow: -3px 3px 10px;
}
#timelinenav {
	position: relative;
}
.leftnav,
.rightnav {
	position: absolute;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.leftnav {
	left: 0;
}
.rightnav {
	right: 0;
}
#rightpanel,
#timelines {
	border-width: 1px;
	border-style: solid;
}
#rightpanel {
	position: absolute;
	top: 0;
	right: 0;
	margin: 20px;
	margin-left: 40px;
	padding: 20px;
	width: calc(80% - 102px);
	max-height: calc(100% - 80px);
	overflow-y: auto;
	overflow-x: hidden;
	transition: right 0.8s ease-in-out;
}
#rightpanel > * {
	margin-top: 10px;
	margin-bottom: 10px;
}
#rightpanel footer {
	text-align: right;
}
header {
	vertical-align: bottom;
}
header > * {
	padding-right: 5px;
	display: inline-block;
}
.reader {
	width: 100%;
}
/* Timeline view */
.reader article {
	display: flex;
	flex-direction: row-reverse;
	margin-bottom: 5px;
	overflow-x: hidden;
	width: 100%;
	transition: width 0.8s ease-in-out,
	height 0.8s ease-in 0.8s,
	padding 0.2s ease-in 0.8s,
	margin 0.8s ease-in 0.8s;
}
.reader article time,
.reader article .num,
.reader article .content {
	white-space: nowrap;
}
.reader article time,
.reader article .num {
	margin-left: 5px;
	margin-right: 5px;
}
.reader article .content {
	border-right-width: 2px;
	border-right-style: solid;
	padding-right: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: justify;
	cursor: pointer;
	transition: height 0.8s ease-in-out;
}
.reader article .content.open {
	border-right-color: red;
}
.reader.expanded article {
/*	overflow: visible;*/
	height: initial;
}
.reader.expanded article .content {
	white-space: initial;
	text-align: justify;
	text-align-last: right;
	cursor: default;
}
.reader.expanded .num:hover {
	cursor: pointer;
}
.precommit {
	cursor: text;
	background-color: yellow;
	display: inline-block;
	min-height: 1em;
	min-width: 10px;
}
.postcommit {
	background-color: red;
}
.precommit, .postcommit {
	white-space: pre;
}
#title {
	display: inline-block;
}
.choicebox {
	display: inline;
	border-width: 2px;
	border-style: solid;
	text-align: center;
	transition: box-shadow 0.5s, color 1s;
	cursor: pointer;
}
.choicebox a {
	text-decoration: none;
	margin: 10px;
	border-width: 1px;

}
.choicebox:hover {
	box-shadow: -5px 5px 10px;
}
#background {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -100;
	transition: filter 1s ease-in;
}
#background video,
#background img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#background img {
	display: none;
}
@media (min-aspect-ratio: 4/3) {
	#background video {
		height: 300%;
		top: -100%;
	}
}

@media (max-aspect-ratio: 4/3) {
	#background video{
		width: 300%;
		left: -100%;
	}
}
@media (max-width: 600px) {
	#background img {
		display: initial;
	}
	#background video {
		display: none;
	}
	#welcome {
		font-size: 125%;
	}
}
a {
	outline: none;
	color: inherit;
}
body.preload * {
	animation-duration: 0s !important;
	-webkit-animation-duration: 0s !important;
	transition: background-color 0s,
	opacity 0s,
	color 0s,
	width 0s,
	height 0s,
	padding 0s,
	margin 0s !important;
}
input[type=submit] {
	padding-left: 5px;
	padding-right: 5px;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}
a {
	cursor: pointer;
}
textarea {
	font-family: inherit;
	outline: none;
	resize: none;
	overflow: hidden;
	border: 0;
	height: auto;
}
