/* Theme colors and fonts */
	body {
		color: black;
		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
		background-image: url('img/sakura.gif');
		background-color: #FFEAEE;
	}
	.sidebar,
	#welcome,
	#rightpanel {
		color: black;
		background-color: azure;
	}
/* FF-like headers */
	h1, h2, h3 {
		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
		letter-spacing: 0px;
		transform: scale(1, 1.5);
		text-transform: Uppercase;
		margin-bottom: 10px;
	}
/* Sync errors */
	.error {
		color: red;
	}
/* New posts */
	article {
		transition: background 0.3s ease-in-out;
	}
	article.new {
		background: palegoldenrod !important;
	}
/* Webkit scrollbars */
	::-webkit-scrollbar-thumb {
		background: black;
	}
	code::-webkit-scrollbar {
		height: 8px;
		width: 0;
	}
	code::-webkit-scrollbar-thumb {
		background: #FFEAEE;
	}
/* Trivial */
	dl, ul, ol {
		list-style-type: square;
	}
	a:hover {
		color: #5ABFCF !important;
	}
	code {
		background: #151515;
		color: #D7D0C7;
	}
