/* Theme colors and fonts */
	body {
		color: black;
		background-image: url('img/sakura.png');
		background-color: white;
	}
	main,
	select,
	textarea,
	article {
		color: black;
		background-color: white;
	}
/* New posts */
	article {
		transition: background 0.3s ease-in-out;
	}
	article.new {
		background: palegoldenrod !important;
	}
