/* Theme colors and fonts */
	body {
		color: #EEE;
		background-color: slategray;
		font-size: 1.1em;
		font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
		background-image: url('img/rei.png');
		background-repeat: no-repeat;
		background-size: 20%;
		background-attachment: fixed;
		background-position: bottom left;
	}
	.sidebar,
	#welcome,
	#rightpanel {
		background-color: #181818;
	}
	article, .hoverbox, input[type=submit], select, textarea {
		background-color: white;
		color: #181818;
	}
/* Sync errors */
	.error {
		color: red;
	}
	.excellent, .good {
		background-color: #D0F0C0;
	}
	.bad {
		background-color: #A8C0D8;
	}
	.disconnected {
		border-style: dashed !important;
	}
/* New posts */
	article {
		transition: background 0.3s ease-in-out;
	}
	article.new {
		background: palegoldenrod !important;
	}
/* Hoverbox tweaks */
	.hoverbox {
		background: white;
	}
	.hoverbox:hover {
		box-shadow: initial;
	}
	.hoverbox {
		transition: color 0.08s;
	}
/* Notifications */
	#notifications li {
		background-color: palegoldenrod;
		color: black;
	}
/* Toolbars */
	.toolbar {
		color: black;
		background-color: white;
	}

/* Trivial */
	dl, ul, ol {
		list-style-type: square;
	}
	kbd {
		padding: 2px;
	}
	code {
		background: slategray;
		color: #EEE;
	}
	a:hover, .hoverbox:hover {
		color: orange;
	}
	.leftnav:hover, .rightnav:hover {
		color: inherit;
	}
	article a:hover {
		/* Override BBCode styling */
		color: orange !important;
	}
