/* Theme colors and fonts */
	body {
		color: black;
		background-color: slategray;
		font-family: "ヒラギノ角ゴ Pro W3",
		"Hiragino Kaku Gothic Pro",
		Osaka,
		"メイリオ",
		Meiryo,
		"ＭＳ Ｐゴシック",
		"MS PGothic",
		sans-serif;
		background-image: url('img/rei.png');
		background-repeat: no-repeat;
		background-size: 20%;
		background-attachment: fixed;
		background-position: bottom left;
	}
	main, table, article, .hoverbox, .sideclickbox {
		background-color: white;
		color: #181818;
	}
/* Hoverbox tweaks */
	.hoverbox, .sideclickbox {
		background: white;
	}
	.hoverbox::after, .sideclickbox::after {
		box-shadow: initial;
	}
	.hoverbox, .sideclickbox {
		transition: color 0.08s;
	}
/* Trivial */
	kbd {
		padding: 2px;
	}
	code {
		background: slategray;
		color: #EEE;
	}
	a:hover, .hoverbox:hover {
		color: orange;
	}
	article a:hover {
		/* Override BBCode styling */
		color: orange !important;
	}
