body {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
}
@media (max-width: 600px) {
body {
	position: initial;
	height: initial;
	margin: 5px;
	width: calc(100% - 5px);
} }
#welcome {
	top: 0;
	display: block;
	border: 1px solid;
	width: calc(80% - 80px);
	max-height: calc(100% - 60px);
	padding: 10px;

	display: flex;
	flex-direction: column;
	width: 80%;
	margin: auto;
	text-align: center;
	margin-top: 20px;
}
.sidebar {
	position: absolute;
	margin: 20px;
	top: 0;
	left: 0;
	width: 100px;
	max-width: calc(20% - 40px);
	text-align: center;
	padding: 20px;
}
@media (max-width: 600px) {
.sidebar {
	display: none;
} }
.sidebar .latency {
	width: 100%;
	text-wrap: break-word;
	text-align: justify;
}
.sidebar .collection {
	flex-direction: column;
	flex-wrap: no-wrap;
}
#welcome .collection a {
	margin-left: 5px;
	margin-right: 5px;
}
.collection {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.collection > a,
.minorbox,
.reply .buttons > * {
	display: block;
	margin-bottom: 15px;
	padding-left: 5px;
	padding-right: 5px;
	transition: box-shadow 0.5s, color 1s;
	border: 1px solid;
	cursor: pointer;
}
.collection > a:hover,
.minorbox:hover,
.reply .buttons > *:hover {
	box-shadow: -3px 3px 10px;
}
.collection a,
.minorbox,
.choicebox a,
.timeline .content a,
.reply .buttons > a,
.leftnav,
.rightnav,
footer .minorbox a {
	text-decoration: none;
}
.collection > a {
	margin-top: 5px;
	margin-bottom: 5px;
}
.leftnav,
.rightnav {
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-decoration: none;
}
.leftnav {
	margin-right: 20px;
}
.rightnav {
	margin-left: 20px;
}
.sidebar {
	border: 1px solid;
}
#rightpanel,
.sidebar,
#welcome {
	border-radius: 5px 0;
}
#rightpanel {
	position: absolute;

	top: 0;
	right: 0;
	margin: 20px;
	border: 1px solid;
	width: calc(80% - 80px);
	max-height: calc(100% - 60px);
	padding: 10px;

	display: flex;
	flex-direction: column;
	overflow: hidden;
}
@media (max-width: 600px) {
#rightpanel {
	width: calc(100% - 20px);
	margin: 0;
	padding: 0;
	max-height: calc(100% - 2px);
	margin-left: 5px;
	margin-right: 5px;
} }
#rightpanel footer {
	text-align: right;
	padding-right: 10px;
}
#rightpanel footer > span {
	display: inline-block;
	border-width: 1px;
	border-top-width: 0px;
	border-style: solid;
	margin-left: 10px;
}
.reply {
	display: flex;
	align-content: flex-end;
	flex: 0 0 auto;
}
.reply .buttons .cancel {
	border-top: 0;
	display: block;
	margin: 0;
	top: 0;
}
.reply .buttons input[type=submit] {
	color: inherit;
	margin-left: auto;
	display: block;
	border-top: 0;
}
.reply textarea {
	border-top: 0;
	border-left: 0;
	border-right: 0;
}
.reader {
	padding: 5px;
	border-top: 1px solid;
	border-bottom: 1px solid;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
/* Timeline view */
.reader article {
	padding-bottom: 5px;
	margin-bottom: 5px;
	overflow-x: hidden;
	border-right: 2px solid;
	border-radius: 0 5px 5px 0;
	text-align: justify;
}
.reader .info {
	border-bottom: 1px solid;
	padding-bottom: 2px;
	margin-bottom: 5px;
}
.reader article time,
.reader article .id {
	padding-left: 5px;
	padding-right: 5px;
}
.reader.timeline .content {
	max-height: 3.2em;
}
.reader.recent .content {
	max-height: 1.4em;
	line-height: 1.4em;
}
.reader.recent .info {
	float: left;
	border: none;
}
.reader.recent .content {
	padding-top: 0;
}
.reader .content pre {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	text-align: left;
	text-align-last: left;
}
.reader article .content {
	display: block;
	overflow: hidden;
	line-height: 1.6em;
	text-align: justify;
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 5px;
	text-decoration: none;
}
@media (max-width: 600px) {
.reader article .content {
	padding-top: 10px;
	padding-left: 10px;
} }
.reader article .content.new {
	border-right-color: red;
}
.reader.expanded article {
	height: initial;
}
.choicebox,
.minorbox {
	display: inline;
	border: 2px solid;
	padding: 2px;
	text-align: center;
	transition: box-shadow 0.5s, color 1s;
	cursor: pointer;
}
.choicebox a {
	text-decoration: none;
	margin: 10px;
	border-width: 1px;

}
.choicebox:hover {
	box-shadow: -5px 5px 10px;
}
.breadcrumb {
	list-style-type: none;
	-webkit-padding-start: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	padding: 0;
	margin: 0;
}
@media (max-width: 600px) {
.breadcrumb {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 125%;
} }
.breadcrumb li {
	display: inline;
}
#background {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -100;
	transition: filter 1s ease-in;
}
#background video,
#background img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#background img {
	display: none;
}
@media (min-aspect-ratio: 4/3) {
	#background video {
		height: 300%;
		top: -100%;
	}
}

@media (max-aspect-ratio: 4/3) {
	#background video{
		width: 300%;
		left: -100%;
	}
}
@media (max-width: 600px) {
	#background img {
		display: initial;
	}
	#background video {
		display: none;
	}
}
body.preload * {
	animation-duration: 0s !important;
	-webkit-animation-duration: 0s !important;
	transition: background-color 0s,
	opacity 0s,
	color 0s,
	width 0s,
	height 0s,
	padding 0s,
	margin 0s !important;
}
input[type=submit] {
	padding-left: 5px;
	padding-right: 5px;
	background: inherit;
	font: inherit;
	line-height: normal;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}
a {
	color: inherit;
	cursor: pointer;
	outline: none;
}
hr {
	width: 100%;
}
textarea {
	font-family: inherit;
	width: 100%;
	outline: none;
	resize: none;
	border: 0;
	height: auto;
	margin: 0;
}
::-webkit-scrollbar {
	width: 2px;
	height: 0;
}
input, select, textarea {
	font-family: inherit;
	color: inherit;
        border: 1px solid;
	margin-bottom: 1px;
	font-size: 1em;
	background-color: inherit;
}
input[type=submit] {
	padding-left: 5px;
	padding-right: 5px;
}
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	transition: border 0.2s;
	outline: 0;
	padding-left: 5px;
	padding-right: 5px;
}
