/* Layouts */
	/* Restrict our body to the page */
	body {
		position: fixed;
		top: 0;
		left: 0;
		margin: 0;
		width: 100%;
		height: 100%;
		-webkit-backface-visibility: hidden;
	}
	/* This holds the introduction / index page content */
	#welcome {
		top: 0;
		border: 1px solid;
		width: calc(80% - 80px);
		max-height: calc(100% - 60px);
		padding: 10px;

		display: flex;
		flex-direction: column;
		width: 80%;
		margin: auto;
		text-align: center;
		margin-top: 20px;

		overflow: hidden;
	}
	/* The continuity's contents go here */
	#rightpanel {
		position: absolute;

		top: 0;
		right: 0;
		margin: 20px;
		border: 1px solid;
		width: calc(80% - 80px);
		max-height: calc(100% - 60px);
		padding: 10px;

		display: flex;
		flex-direction: column;
		overflow: hidden;
	}
	/* A continuity list is displayed here */
	.sidebar {
		position: absolute;
		margin: 20px;
		top: 0;
		left: 0;
		width: 100px;
		max-width: calc(20% - 40px);
		text-align: center;
		padding: 20px;
	}
/* Layout esthetics */
	#rightpanel,
	.sidebar,
	#welcome {
		border: 1px solid;
		border-radius: 5px 0;
	}
/* Media rules for the layout */

/* Elements on the welcome page */
	/* Since this is a horizontal layout,
	apply some empty space */
	#welcome .collection > * {
		margin-left: 5px;
		margin-right: 5px;
	}
/* Elements on the right panel */
	/* Footer has reply, return buttons */
	#rightpanel footer {
		text-align: right;
		padding-right: 10px;
	}
	#rightpanel footer > span {
		display: inline-block;
		border-width: 1px;
		border-top-width: 0px;
		border-style: solid;
		margin-left: 10px;
	}
	#rightpanel header h1 {
		float: left;
	}
	#rightpanel header em {
		float: right;
	}
	/* Navigation breadcrumb at the page top */
	.breadcrumb {
		list-style-type: none;
		-webkit-padding-start: 0;
		-webkit-margin-before: 0;
		-webkit-margin-after: 0;
		padding: 0;
		margin: 0;
	}
	@media (max-width: 600px) {
	.breadcrumb {
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 125%;
	} }
	.breadcrumb li {
		display: inline;
	}
	/* The reader element */
	.reader {
		padding: 5px;
		border-top: 1px solid;
		border-bottom: 1px solid;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}
	.reader.docs {
		text-align: left;
	}
	/* Every post / topic is wrapped in an <article> */
	.reader article {
		margin-bottom: 5px;
		overflow-x: hidden;
		border-radius: 5px;
		padding: 5px;
		border: 3px double;
		text-align: justify;
	}
	.reader article .content {
		display: block;
		overflow: hidden;
		line-height: 1.6em;
		text-align: justify;
		padding-left: 10px;
		padding-right: 5px;
		padding-top: 5px;
		word-wrap: break-word;
	}
	.reader .content code {
		display: block;
		margin: 0;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 10px;
		padding-right: 10px;
		text-align: left;
		overflow-x: auto;
		white-space: nowrap;
	}
	/* Timeline view (browsing all topics) */
		/* Restrict content to 2 lines max */
		.reader.continuity .content {
			max-height: 3.2em;
		}
	/* Reader on the welcome page */
		#welcome .reader article,
		.reader.continuity article {

			padding-top: 5px;
			padding-bottom: 5px;
		}
		/* Content on the welcome page
		can be up to 4 lines tall */
		#welcome .reader .content {
			max-height: 5.6em;
			line-height: 1.4em;
		}
		/* More compact view */
		#welcome .reader .content {
			padding-top: 0;
		}


		@media (max-width: 600px) {
		.reader article .content {
			padding-top: 10px;
			padding-left: 10px;
			text-align: left;
		}
		#welcome .reader .info {
			float: initial;
		}
		.reader.expanded article {
			height: initial;
		} }
	/* Reply box */
	.reply {
		display: flex;
		flex: 0 0 auto;
	}
	.reply .buttons {
		text-align: center;
	}
	.reply .cancel {
		display: block;
		border-top: 0;
	}
	.reply img {
		display: block;
		width: 100%;
		height: 70px;
	}
	.reply .buttons input[type=submit] {
		display: block;
		color: inherit;
		border-top: 0;
		width: 100%;
	}
	.reply textarea {
		border-top: 0;
		border-right: 0;
	}
/* Elements in the sidebar */
	/* Latency displays our current ping to the server */
	.sidebar .latency {
		text-wrap: break-word;
		text-align: justify;
	}
	/* Special rules for the continuity container */
	.sidebar .collection {
		flex-direction: column;
		flex-wrap: no-wrap;
	}
/* Miscellaneous elements */
	/* Paginated view of all coninuities */
	.collection {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.collection > a {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	/* Navigation for the collection */
	.leftnav,
	.rightnav {
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		text-decoration: none;
	}
	.leftnav {
		margin-right: 20px;
	}
	.rightnav {
		margin-left: 20px;
	}
	/* An styled button which shadows when hovered over */
	.hoverbox {
	       padding-left: 5px;
	       padding-right: 5px;
	       transition: box-shadow 0.2s;
	       border: 1px solid;
	       cursor: pointer;
	}
	.hoverbox:hover {
	       box-shadow: -1px 1px 2px;
	}
	a.hoverbox {
		text-decoration: none;
	}
	/* No :hover colors for buttons and nav things */
	a.hoverbox:hover,
	.leftnav:hover, .rightnav:hover {
		color: inherit !important;
	}
/* Modifications on the default styling */
	input[type=submit] {
		padding-left: 5px;
		padding-right: 5px;
		background: inherit;
		font: inherit;
		line-height: normal;
		color: inherit;
	}
	h1, h2, h3, h4, h5, h6 {
		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
		letter-spacing: 0px;
		font-weight: lighter;
		margin: 0;
	}
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		text-decoration: none;
	}
	a {
		color: inherit;
		cursor: pointer;
		outline: none;
	}
	hr {
		width: 100%;
	}
	textarea {
		font-family: inherit;
		width: 100%;
		outline: none;
		resize: none;
		border: 0;
		height: auto;
		margin: 0;
	}
	/* Scrollbars for the cool kids */
	::-webkit-scrollbar {
		width: 2px;
		height: 0;
	}
	input, select, textarea {
		font-family: inherit;
		color: inherit;
		border: 1px solid;
		margin-bottom: 1px;
		font-size: 1em;
		background-color: inherit;
		margin: 0;
	}
	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		transition: border 0.2s;
		outline: 0;
		padding-left: 5px;
		padding-right: 5px;
	}
	code, kbd {
		font-family: Monospace;
	}
/* Media rules for layout */
	@media (max-width: 600px) {
	.sidebar {
		position: relative;
		width: initial;
		max-width: initial;
		border: none;
		margin: 0;
	}
	.sidebar .collection {
		flex-direction: row;
	}
	.collection > * {
		margin-left: 5px;
		margin-right: 5px;
	} }
	@media (max-width: 600px) {
	body {
		position: initial;
		height: initial;
		width: 100%;
	} }
	@media (max-width: 600px) {
	#rightpanel {
		position: relative;
		border: 0;
		border-top: 1px solid;
		width: calc(100% - 20px);
		padding: 10px;
		margin: 0;
		border-radius: 0;
		padding-bottom: 10px;
		padding-top: 10px;
	}
	#welcome {
		position: relative;
		border: 0;
		width: calc(100% - 20px);
		padding: 10px;
		margin: 0;
		border-radius: 0;
		padding-bottom: 10px;
		padding-top: 10px;
	} }

/* Uhh just legacy stuff
 * I might use later */
	#background {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: hidden;
		z-index: -100;
		transition: filter 1s ease-in;
	}
	#background video,
	#background img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	#background img {
		display: none;
	}
	@media (min-aspect-ratio: 4/3) {
		#background video {
			height: 300%;
			top: -100%;
		}
	}

	@media (max-aspect-ratio: 4/3) {
		#background video{
			width: 300%;
			left: -100%;
		}
	}
	@media (max-width: 600px) {
		#background img {
			display: initial;
		}
		#background video {
			display: none;
		}
	}
