/* Layouts */
	body {
		font-size: 16px;
		min-height: 100%;
	}
	main {
		max-width: 40em;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		margin-bottom: 20px;
		border: 1px solid;
		padding: 10px;
	}
	/* This holds the introduction / index page content */
	.welcome {
		text-align: center;
	}
/* Elements on the welcome page */
	/* Since this is a horizontal layout,
	apply some empty space */
	.collection > * {
		margin: 5px;
	}
/* Elements on the right panel */
	/* Footer has reply, return buttons */
	main footer .hoverbox {
		margin-left: 10px;
	}
	.floathead h1 {
		display: inline;
	}
	.floathead em {
		float: right;
	}
	/* Navigation breadcrumb at the page top */
	.breadcrumb {
		list-style-type: none;
		-webkit-padding-start: 0;
		-webkit-margin-before: 0;
		-webkit-margin-after: 0;
		padding: 0;
		margin: 0;
	}
	/* Scale the breadcrumb to be easily clickable on mobile */
	@media (max-width: 600px) {
	.breadcrumb {
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 125%;
	} }
	.breadcrumb li {
		display: inline;
	}
	/* Every post / topic is wrapped in an <article> */
	article {
		position: relative;
		margin-bottom: 5px;
		overflow-x: hidden;
		border-radius: 5px;
		padding: 5px;
		border: 3px double;
		text-align: justify;
	}
	#reader article .content {
		padding-left: 10px;
		word-wrap: break-word;
		line-height: 1.8em;
	}
	.reader article .content p {
		margin: 0;
	}
	.reader .content code {
		display: block;
		margin: 0;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 10px;
		padding-right: 10px;
		text-align: left;
		overflow-x: auto;
		white-space: nowrap;
	}
	/* Special rules for masonry layout */
		.reader.continuity,
		.reader.expanded,
		.reader.recent {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
		}
		.reader.continuity article,
		.reader.expanded article,
		.reader.recent article {
			margin: 5px;
			flex: 1 1 auto;
		}
		@media (max-width: 400px) {
		article .content {
			text-align: left;
		}
		.welcome .reader .info {
			float: initial;
		}
		.reader.expanded article {
			height: initial;
		} }
	/* Reply box */
	.reply > * {
		margin-bottom: 5px;
		margin-left: auto; margin-right: auto;
		max-width: 32em;
		text-align: center;
	}
	.reply .textarea { text-align: right; }

	.reply .textarea {
		width: calc(100% - 10px);
		max-width: 32em;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.robocheck input,
	.robocheck img {
		display: block;
		margin: auto;
		width: 165px;
		box-sizing: border-box;
	}
	.robocheck input { text-align: center; }
	.buttons { text-align: center; }

	.toggle-preview { display: none; }
	.preview {
		display: none;
		border: 0; border-left: 1px solid; border-radius: 0;
	}
	.previewing .preview { display: block; }
	.previewing textarea { display: none; }
/* Notifications */
	#notifications {
		position: fixed;
		top: 0;
		right: 0;
		margin: 20px;
		list-style-type: none;
		-webkit-padding-start: 0;
	}
	#notifications li {
		padding: 5px;
		margin-bottom: 5px;
		border: 1px solid;
	}
	.lowpriority .priority {
		background-color: green;
	}
/* Miscellaneous elements */
	/* Collection of items */
	.collection {
		text-align: center;
	}
	/* An styled button which shadows when hovered over */
	.hoverbox {
		display: inline-block;
		padding-left: 5px;
		padding-right: 5px;
		transition: box-shadow 0.2s;
		border: 1px solid;
		cursor: pointer;
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.hoverbox:hover {
	       box-shadow: -1px 1px 2px;
	}
	a.hoverbox {
		text-decoration: none;
	}
	.sideclickbox {
		position: absolute;
		top: 0;
		right: 0;
		width: 50px;
		height: 100%;
		background-color: inherit;
		transition: box-shadow 0.2s;
		border-left: 1px solid;
		text-align: center;
		text-decoration: none;
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.sideclickbox:hover {
		box-shadow: -1px 1px 2px;
	}
	/* Make room for the .sideclickbox */
	article.linkify section {
		margin-right: 50px;
	}
	.toolbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.toolbar > * { margin: 2px; }
	.toolbar > a {
		display: inline-block;
		line-height: 0;
	}
	.toolbar img { height: 36px; width: 36px; }
	/* Latency displays connection quality to the server */
	#latency {
		text-align: left;
		flex: 1 1 auto;
	}
	#latency .bar {
		white-space: pre;
		width: 5px;
		border: 1px solid;
	}
	.flair {
		animation: hover 2s ease-out infinite;
		margin: 5px;
		cursor: pointer;
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.spin {
		animation: spin 2s ease-out 1;
	}
/* Animations */
	@keyframes hover {
		50% { transform: translateY(10px); }
	}
	@keyframes spin {
		5% { transform: rotateY(360deg); }
		20% { transform: rotateY(0deg); }
		50% { transform: rotateY(360deg); }
		100% { transform: rotateY(0deg); }
	}
/* Modifications on the default styling */
	input[type=submit] {
		padding-left: 5px;
		padding-right: 5px;
		font: inherit;
		background-color: inherit;
		line-height: normal;
	}
	button {
		background-color: inherit;
		font: inherit;
		color: inherit;
		line-height: normal;
	}
	h1, h2, h3, h4, h5, h6 {
		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
		letter-spacing: 0px;
		font-weight: lighter;
		margin: 0;
	}
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		text-decoration: none;
	}
	table {
		margin: auto;
		border-collapse: collapse;
		overflow-x: auto;
	}
	td, th {
		padding: 3px;
		border: 1px solid;
	}
	a {
		color: inherit;
		cursor: pointer;
		text-decoration: underline;
	}
	a:hover {
		text-decoration: none;
	}
	hr {
		width: 100%;
	}
	textarea {
		border-radius: 5px;
		padding: 5px;
		border: 3px double;
		text-align: justify;
		font-family: inherit;
		width: calc(100% - 10px);
		max-width: 32em;
		outline: none;
		resize: none;
		height: auto;
		margin: 0;
	}
	input, select, textarea {
		font-family: inherit;
		margin-bottom: 1px;
		font-size: 1em;
		margin: 0;
	}
	input, select { border: 1px solid; }
	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		transition: border 0.2s;
		outline: 0;
		padding-left: 5px;
		padding-right: 5px;
	}
	code, kbd {
		font-family: Monospace;
	}
	pre {
		overflow: scroll;
	}
/* Uhh just legacy stuff
 * I might use later */
	#background {
		position: fixed;
		top: 0;
		min-height: 100%;
		min-width: 100%;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: hidden;
		z-index: -100;
	}
	#background video,
	#background img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	#background img {
		display: none;
	}
	@media (min-aspect-ratio: 4/3) {
		#background video {
			height: 300%;
			top: -100%;
		}
	}

	@media (max-aspect-ratio: 4/3) {
		#background video{
			width: 300%;
			left: -100%;
		}
	}
	@media (max-width: 600px) {
		#background img {
			display: initial;
		}
		#background video {
			display: none;
		}
	}
