/* Theme colors and fonts */
	body {
		background-color: black;
		color: black;
		font-family: "IBM ISO",
		Monospace;
	}
	h1, h2, h3, h4, h5, h6 {
		font-family: Systemspace,
		Monospace;
	}
	main {
		color: white;
		background-color: Navy;
	}
	article, td, .hoverbox, textarea, input {
		background-color: #DCDCDC;
		color: black;
	}
	article .info, th {
		background-color: blue;
		color: white;
	}
/* BBS Blocky changes */
	th, td {
		border: 1px solid black;
	}
	article {
		border-radius: 0;
	}
/* Hoverbox */
	input[type=submit],
	select {
		background-color: white;
		color: black;
	}
/* Fonts */
	@font-face {
		font-family: "Systemspace";
		src: url('font/systemspace.woff');
	}
	@font-face {
		font-family: "IBM ISO";
		src: url('font/IBM_ISO8.ttf');
	}
	pre {
		font-family: inherit;
	}
/* <a>nchor colors */
	article .content a {
		color: red;
	}
