/* Theme colors and fonts */
body {
	background-color: white;
}
body {
	color: white;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	background-image: url('img/castle.png');
}
h1, h2, h3 {
	font-family: Systemspace, Monospace;
	text-transform: Uppercase;
}
.sidebar h3,
.frontcenter h3 {
	color: red;
}
h1 {
	margin-top: 50px;
	margin-bottom: 50px;
}
::-webkit-scrollbar-thumb {
	background: white;
}
dl, ul, ol {
	list-style-type: square;
}
select option {
	background-color: black;
}
#welcome {
	text-shadow: -4px 4px black;
}
#welcome .choicebox {
	border: 0;

}
#welcome .choicebox:hover {
	box-shadow: 0 0 0;
}
.sidebar,
#timelines,
#rightpanel {
	opacity: 0.8;
	color: white;
	background-color: black;
	border: 0;
	transition: background-color 0.2s,
	opacity 0.2s;
}
/* Hover-over links */
.content a:hover,
.content a:hover * {
	/* Override bbCode */
	color: #5ABFCF !important;
}
.error {
	color: red;
}
.new .content {
	border-color: red !important;
}
.selected {
	border-color: red !important;
}
@keyframes glitch-animation {
0% {
clip: rect(42px, 9999px, 44px, 0);
}
5% {
clip: rect(12px, 9999px, 59px, 0);
}
10% {
clip: rect(48px, 9999px, 29px, 0);
}
15% {
clip: rect(42px, 9999px, 73px, 0);
}
20% {
clip: rect(63px, 9999px, 27px, 0);
}
25% {
clip: rect(34px, 9999px, 55px, 0);
}
30% {
clip: rect(86px, 9999px, 73px, 0);
}
35% {
clip: rect(20px, 9999px, 20px, 0);
}
40% {
clip: rect(26px, 9999px, 60px, 0);
}
45% {
clip: rect(25px, 9999px, 66px, 0);
}
50% {
clip: rect(57px, 9999px, 98px, 0);
}
55% {
clip: rect(5px, 9999px, 46px, 0);
}
60% {
clip: rect(82px, 9999px, 31px, 0);
}
65% {
clip: rect(54px, 9999px, 27px, 0);
}
70% {
clip: rect(28px, 9999px, 99px, 0);
}
75% {
clip: rect(45px, 9999px, 69px, 0);
}
80% {
clip: rect(23px, 9999px, 30px, 0);
}
85% {
clip: rect(54px, 9999px, 84px, 0);
}
90% {
clip: rect(45px, 9999px, 47px, 0);
}
95% {
clip: rect(37px, 9999px, 20px, 0);
}
100% {
clip: rect(4px, 9999px, 91px, 0);
}
}
@keyframes glitch-animation-2 {
0% {
clip: rect(65px, 9999px, 100px, 0);
}
5% {
clip: rect(52px, 9999px, 74px, 0);
}
10% {
clip: rect(79px, 9999px, 85px, 0);
}
15% {
clip: rect(75px, 9999px, 5px, 0);
}
20% {
clip: rect(67px, 9999px, 61px, 0);
}
25% {
clip: rect(14px, 9999px, 79px, 0);
}
30% {
clip: rect(1px, 9999px, 66px, 0);
}
35% {
clip: rect(86px, 9999px, 30px, 0);
}
40% {
clip: rect(23px, 9999px, 98px, 0);
}
45% {
clip: rect(85px, 9999px, 72px, 0);
}
50% {
clip: rect(71px, 9999px, 75px, 0);
}
55% {
clip: rect(2px, 9999px, 48px, 0);
}
60% {
clip: rect(30px, 9999px, 16px, 0);
}
65% {
clip: rect(59px, 9999px, 50px, 0);
}
70% {
clip: rect(41px, 9999px, 62px, 0);
}
75% {
clip: rect(2px, 9999px, 82px, 0);
}
80% {
clip: rect(47px, 9999px, 73px, 0);
}
85% {
clip: rect(3px, 9999px, 27px, 0);
}
90% {
clip: rect(26px, 9999px, 55px, 0);
}
95% {
clip: rect(42px, 9999px, 97px, 0);
}
100% {
clip: rect(38px, 9999px, 49px, 0);
}
}
.glitch {
	position: relative;
}
.glitch::before,
.glitch::after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	clip: rect( 0, 900px, 0, 0 );
}
.glitch::before {
	animation: glitch-animation-2 0.9s infinite linear alternate-reverse;
	left: -1px;
	text-shadow: -2px 0 red;
}
.glitch::after {
	animation: glitch-animation 1.5s infinite linear alternate-reverse;
	left: 1px;
	text-shadow: -2px 0 red;
}
@font-face {
	font-family: "Systemspace";
	src: url('font/systemspace.woff');
}
