/* Theme colors and fonts */
	body {
		color: white;
		background-color: #37394A;
		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
		background-image: url('img/stars.png');
	}
	main {
		background-color: #57596A;
	}
	article, select, tbody, th {
		background-color: #2D2E37;
		border-style: solid;
		border-width: 1px;
		border-color: #AAA;
		color: #EEE;
	}
	pre {
		color: white;
		background-color: black;
	}
/* Hoverbox tweaks */
	.hoverbox, textarea, input {
		background: white;
		color: black;
	}
