/* Theme colors and fonts */
	body {
		background-image: url('img/kinoko.png');
		color: #c7254e;
		font-family: Arial, Helvetica, sans-serif;
	}
	main,
	select,
	textarea,
	article {
		background-color: white;
	}
/* Sync errors */
	.error {
		color: red;
	}
	.excellent, .good {
		background-color: #D0F0C0;
	}
	.bad {
		background-color: #A8C0D8;
	}
	.disconnected {
		border-style: dashed !important;
	}
/* New posts */
	article {
		transition: background 0.3s ease-in-out;
	}
	article.new {
		background: #FFE87C !important;
	}
/* Notifications */
	#notifications li {
		background-color: palegoldenrod;
		color: black;
	}
/* Trivial */
	dl, ul, ol {
		list-style-type: square;
	}
	kbd {
		padding: 2px;
	}
	code {
		background: #151515;
		color: #D7D0C7;
	}
	a {
		color: #36B;
	}
	/* Don't style the navigation / hoverboxes */
	a.hoverbox,
	a.sideclickbox,
	h1 a, h2 a {
		color: inherit;
	}
	a:hover {
		color: #d17c43;
	}
	/* Don't style the navigation / hoverboxes */
	a.hoverbox:hover,
	a.sideclickbox {
		color: inherit;
	}
	article a:hover {
		/* Override BBCode styling */
		color: #d17c43 !important;
	}
