/* Theme colors and fonts */
	body {
		background-image: url('img/kinoko.png');
		font-family: Arial,
		Helvetica,
		sans-serif;
	}
	body, hr {
		color: #c7254e;
	}
	main,
	select,
	textarea,
	article {
		background-color: white;
	}
	pre {
		color: white;
		background-color: black;
	}
/* Trivial */
	a {
		color: #36B;
	}
	/* Don't style the navigation / hoverboxes */
	a.hoverbox,
	a.sideclickbox {
		color: inherit;
	}
	a:hover {
		color: #d17c43;
	}
	/* Don't style the navigation / hoverboxes */
	.hoverbox:hover,
	.sideclickbox:hover {
		color: inherit;
	}
	article .content a:hover {
		/* Override BBCode styling */
		color: #d17c43 !important;
	}
