/* Theme colors and fonts */
	body {
		background-color: #7372a0;
		background-image: url('img/PR.jpg');
		color: black;
		font-family:"ヒラギノ角ゴ Pro W3",
		"Hiragino Kaku Gothic Pro",
		Osaka,
		"メイリオ",
		Meiryo,
		"ＭＳ Ｐゴシック",
		"MS PGothic",
		sans-serif;
	}
	main,
	select,
	textarea,
	article {
		color: white;
		background-color: #8c5883;
	}
	pre {
		color: white;
		background-color: black;
	}
/* Boxes */
	.hoverbox,
	input[type=submit],
	select {
		background-color: white;
		color: black;
	}
