body {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	height: 100%;
}
#video video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
@media (min-aspect-ratio: 4/3) {
	#video video {
		height: 300%;
		top: -100%;
	}
}

@media (max-aspect-ratio: 4/3) {
	#video video{
		width: 300%;
		left: -100%;
	}
}
#message {
	text-align: center;
	white-space: nowrap;
	position: absolute;
	border: 3px double;
	border-radius: 5px 0;
	padding: 10px;
	margin: 10px;
	background-color: White;
	color: Black;
}
h1 {
	font-weight: lighter;
}
