body {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	height: 100%;
}
#message {
	text-align: center;
	border: 3px double;
	border-radius: 5px 0;
	padding: 10px;
	margin: 10px;
	background-color: White;
	color: Black;
	margin: 10px auto;
	width: 50%;
	min-width: 250px;
	max-width: 100%;
}
h1 {
	font-weight: lighter;
}
